<div class="coming-soon-image"><%= image_tag("still-growing.gif") %></div>
<div style="text-align: center; margin-top: 50px;">
    <h1>This feature is still under construction.</h1>
    <h2>You'll be able to message your friends soon!!!</h2>
</div>