<div class="home-page-image"><%= image_tag("home-page-photo.jpg") %></div>
<div style="text-align: center">
    <div style="display: inline-block;">
        <h3 style="text-align: left;"><i>What is BioPlants?</i></h3>
        <p style="text-align: left;"> BioPlants is an interactive web-based game where you take care of plants by feeding, watering, and putting them in sunlight!<br>
        Designed by Alexandria Pugia, this game was created to bring joy to friends and family (espsecially those that struggle to keep real plants alive!)<br>
        <br>
        Sign up to start playing! We are so happy you're here and can't wait for you to love your virtual plants as much as we do!</p>
        <br>
        <h3 style="text-align: left;"><i>What is in BioPlant's future?</i></h3>
        <p style="text-align: left;"> We hope to add messaging, cross-pollinating to breed plants, impliment a digital currency, and add a public forum where you can <br>
        advertise plants for sale, for trade, or for cross-pollination!</p>
    </div>
</div>